:root{
    --color-green: #5dd000;
    --color-red: #c00000;
}

/* Botao canto direito card */
.countIndicator, .fullSyncIndicator, .mediaSourceIndicator, .playedIndicator{
    background: var(--color-green) !important;
    opacity: 0.7 !important;
}