/* :root{
    --color-green: #5dd000;
    --color-red: #c00000;
} */

/* Botao canto direito card
.countIndicator, .fullSyncIndicator, .mediaSourceIndicator, .playedIndicator{
    background: var(--color-green) !important;
    opacity: 0.7 !important;
} */

.cardContent-button,
.itemDetailImage {
  border-radius: 0.25em;
}

/* Adjust both "size-adjust" and "size" to modify size */
.headerTabs.sectionTabs {
    text-size-adjust: 110%;
    font-size: 110%;
  }
  .pageTitle {
    margin-top: auto;
    margin-bottom: auto;
  }
  .emby-tab-button {
    padding: 1.75em 1.7em;
  }

/* Narrow the login form */
#loginPage .readOnlyContent,
#loginPage form {
  max-width: 22em;
}

/* Hide "please login" text, margin is to prevent login form moving too far up */
#loginPage h1 {
  display: none;
}
#loginPage .padded-left.padded-right.padded-bottom-page {
  margin-top: 50px;
}

/* Hide "manual" and "forgot" buttons */
#loginPage .raised.cancel.block.btnManual.emby-button {
  display: none;
}
#loginPage .raised.cancel.block.btnForgotPassword.emby-button {
  display: none;
}